.containerBoites {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.boite {
	padding: 5rem;
	background-color: aliceblue;
	color: black;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.boite1:hover {
	transform: translateY(-20px);
}

.boite2:hover {
	transform: scale(1.1);
}

.boite3:hover {
	transform: translate(50px, 50px);
}

.boite4:hover {
	transform: rotate(45deg);
}

.boite5:hover {
	transform: rotate(45deg) scale(1.2) translateY(-60px);
}

.boite6:hover {
	background-color: #28a745;
	color: white;
}

.boite7:hover {
	opacity: 0.5;
}

.boite8:hover {
	transform: perspective(400px) rotateX(-30deg);
}

.boite9:hover {
	transform: rotate(360deg) scale(1.3);
	background-color: #ff5722;
	color: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
